<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-3">
        <h1><span translate>ABOUT</span></h1>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3">
        <div>
          <h3 translate>APP_NAME</h3>
          <p>
            <strong
              >stimulating the gun-finger with bass music from kassel.</strong
            >
          </p>
          <p>
            Radio Rasclat was originally a project by Domenik Töfflinger for the
            tour of the Kunsthochschule Kassel under the name "Radio Rundgang".
            During the opening hours we streamed live music from the basement of
            the basic class Visual Communication. This radio gives our
            artists/DJs a platform to try out and play.
          </p>
          <p>
            direct link:
            <a
              href="http://admin.radio-rundgang.de:8000/airtime_128"
              target="_blank"
              >stream / url</a
            >
            <br />
            opening hours: do. - so. 12-0 uhr
          </p>
          <hr />
          <h3 translate>CONTACT</h3>
          <p>
            instagram:
            <a href="https://instagram.com/radio.rundgang" target="_blank"
              >@radio.rundgang</a
            ><br />
            twitter:
            <a href="https://twitter.com/radiorundgang" target="_blank"
              >@radiorundgang</a
            ><br />
            mail:
            <a href="mailto:office@radio-rundgang.de"
              >office (at) radio-rundgang.de</a
            >
          </p>
          <hr />
          <h3 translate>OPEN_SOURCE</h3>
          <p>
            this radio is open source. feel free to open an issue or submit a
            contribution @<br />
            <a
              href="https://github.com/dmnktoe/radio-rundgang-web"
              target="_blank"
              >github</a
            >
          </p>
          <p>
            <i class="fa fa-code"></i> <span translate>APP_NAME</span> | v<span
              >{{ version }}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
