<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-3">
        <h1><span translate>ABOUT</span></h1>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-12 col-md-6 mb-3">
        <h3 translate>APP_NAME</h3>
        <p>
          <strong
            >Stimulating the gun-finger with Bass Music from Kassel.</strong
          >
        </p>
        <p translate>PROJECT_DESCRIPTION</p>
        <p>
          <i-feather name="music"></i-feather>
          <span translate>DIRECT_LINK</span>:
          <a
            href="http://admin.radio-rundgang.de:8000/airtime_128"
            target="_blank"
            >MP3</a
          >
          <br />
        </p>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <h3 translate>CONTACT</h3>
        <p>
          <strong>Don't hesitate to contact us.</strong>
        </p>
        <p>
          <i-feather name="instagram" class="icon"></i-feather> Instagram:
          <a href="https://instagram.com/radio.rundgang" target="_blank"
            >@radio.rundgang</a
          ><br />
          <i-feather name="twitter" class="icon"></i-feather> Twitter:
          <a href="https://twitter.com/radiorundgang" target="_blank"
            >@radiorundgang</a
          ><br />
          <i-feather name="mail" class="icon"></i-feather> E-Mail:
          <a href="mailto:office@radio-rundgang.de"
            >office (at) radio-rundgang.de</a
          ><br />
          <i-feather name="phone-call" class="icon"></i-feather>
          <span translate>PHONE</span>:
          <a href="tel:004917679802453‬">+49 (0) 176 / 798 024 53</a>
        </p>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <h3 translate>OPEN_SOURCE</h3>
        <p>
          <span translate>OPEN_SOURCE_DESC</span>
          <a
            href="https://github.com/dmnktoe/radio-rundgang-web"
            target="_blank"
            >Github</a
          >.
        </p>
        <p>
          <i-feather name="github" class="icon"></i-feather>
          <span translate>APP_NAME</span> • v<span>{{ version }}</span>
        </p>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <h3 translate>DONATE</h3>
        <p>
          Radio Rasclat is a non-commercial radio stations based on donations.
        </p>
        <app-coffee></app-coffee>
      </div>
    </div>
  </div>
</div>
