.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

span.genre-tag {
  border: 0;
  background: #f0f0f0;
  color: #000;
  font-size: 10px;
  padding: 2px 7px;
  margin-right: 5px;
  text-align: center;
  width: auto;
  display: inline-block;
  font-family: Helvetica;
  border-radius: 5px;
}
