<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1><span translate>SHOWS</span></h1>
      </div>
    </div>
    <app-loader [isLoading]="isLoading"></app-loader>
    <hr />
    <div [hidden]="isLoading" class="row">
      <div
        class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto my-3"
        [hidden]="isLoading"
        *ngFor="let show of shows"
      >
        <div class="single__show__list">
          <div class="single__show__list__img-container">
            <img src="{{ show.img }}" />
          </div>
          <div class="single__show__list__text-container">
            <span class="genre-tag" *ngFor="let tag of show.class">
              {{ tag }}
            </span>
            <hr />
            <h3>{{ show.title }}</h3>
            <p>{{ show.caption }}</p>
            <a
              class="btn btn-primary"
              routerLink="/show/{{ show._id }}"
              translate
              *ngIf="show.audioUrl"
              >SHOW_DETAILS_BUTTON</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
