/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

body {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 1.5rem;
  padding-top: 70px;
  background-color: #cccccc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-position-x: -20px;
  background-attachment: fixed;
}

.page-wrapper .container-fluid {
  margin-bottom: 100px;
}

a.btn-primary {
  color: #fff !important;
}

.navbar {
  border-bottom: 3px solid #000;
  height: 41px;
  padding: 0 1rem !important;
}

/*div#navbar-menu {
  background: #ccc;
  margin-left: -1rem;
  padding: 1rem;
  width: 100%;
  margin-right: -1rem;
}*/

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.6rem;
  font-weight: 700;
  padding-right: 0px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 35 35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='3' stroke-linecap='square' stroke-miterlimit='10' d='M0,1h30 M0,9h30 M0,17h30'/%3E%3C/svg%3E");
  background-position-y: 8px;
}

.navbar-dark .navbar-toggler {
  outline: 0;
}

#navbar-menu.show {
  left: 0;
  position: absolute;
  top: 40px;
  padding: 15px;
  background: #000;
  width: 100%;
}

.btn {
  border-radius: 0px !important;
}

.container-fluid span {
  background: #ccc;
  border: 2px solid #000;
  padding: 0px 10px;
}

.form-control {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  color: #000000 !important;
  background-color: #ccc !important;
  border: 3px solid #000 !important;
  border-radius: 0px !important;
}

.card {
  background-color: #ccc !important;
  border: 3px solid #000 !important;
  border-radius: 0px !important;
}

.text-uppercase {
  text-transform: none !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: inherit;
  background-color: #cccccc;
  border-top: 3px solid #000;
}

* {
  box-sizing: border-box;
}
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 41px;
  background-color: #000;
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {
    display: inline-block;
    height: 41px;
    line-height: 42px;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {
      display: inline-block;
      padding: 0 2rem;
      font-size: 1.6rem;
      color: #fff;
    }
  }
}

.indicator-wrap {
  background: #000;
  height: 100%;
  z-index: 9999;
  padding: 14px 1rem;
  display: block;
  position: relative;
  width: 45px;
}

.live-dot {
  height: 0.5rem;
  position: relative;
  width: 0.5rem;

  border-radius: 100%;

  background-color: #b91109;
}

.live-dot::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;

  border-radius: 100%;

  background-color: inherit;

  -webkit-animation: 5s ease-out signal infinite;

  animation: 5s ease-out signal infinite;
  opacity: 0.5;
}

@-webkit-keyframes signal {
  20%,
  100% {
    opacity: 0;
    -webkit-transform: scale(5);
    transform: scale(5);
  }
}

@keyframes signal {
  20%,
  100% {
    opacity: 0;
    -webkit-transform: scale(5);
    transform: scale(5);
  }
}

.single__show__list {
  background: #cccccc;
  border: 2px solid #000;
}

.single__show__list:hover {
  box-shadow: 3px 3px 0px #000;
}

.single__show__list__img-container img {
  width: 100%;
}

.single__show__list__text-container {
  padding: 20px;
  font-size: 17px;
}

img.logo {
  width: 35px;
  top: 3px;
  display: block;
  position: relative;
  float: left;
  margin-right: 10px;
}
