<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 [style.color]="hex">
        <span>{{ show?.show.title }}</span>
      </h1>
      <div class="single__show__list__tags">
        <span
          class="single__show__list__tag"
          *ngFor="let tag of show?.show.class"
        >
          {{ tag }}
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      <div>
        <p>
          <span>{{ show?.show.caption }}</span>
        </p>
        <p>
          {{ show?.show.description }}
        </p>
        <p>
          {{ show?.show.date }}<br />
          {{ show?.show.time }}
        </p>
        <hr />
        <p>
          <audio
            id="audio_with_controls"
            controls
            src="{{ show?.show.audioUrl }}"
            type="audio/mp3"
          ></audio>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <img class="set-img" src="{{ show?.show.img }}" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a
        class="btn btn-secondary"
        [style.backgroundColor]="hex"
        routerLink="/shows"
        translate
        >BACK</a
      >
    </div>
  </div>
</div>
