<div class="main-current" style="display: table;">
  <div
    class="current-keyvisual"
    style="display: table-cell;vertical-align: middle;"
  >
    <div>
      <button (click)="onAudioPlay()">{{ value }}</button>
    </div>

    <audio #audioOption>
      <source
        src="https://radiorundgang.out.airtime.pro/radiorundgang_a"
        type="audio/mpeg"
      />
    </audio>
  </div>
  <div class="current-info" style="display: table-cell;vertical-align: middle;">
    <h1>{{ currentTrack.track_title }}</h1>
    <p *ngIf="currentTrack.artist_name">{{ currentTrack.artist_name }}</p>
  </div>
</div>
