<div class="main-current" style="display: table;">
  <div
    class="current-keyvisual"
    style="display: table-cell;vertical-align: middle;"
  >
    <div>
      <button (click)="onAudioPlay()">{{ value }}</button>
    </div>

    <audio #audioOption>
      <source
        src="http://admin.radio-rundgang.de:8000/stream"
        type="audio/mpeg"
      />
    </audio>
  </div>
  <div
    *ngIf="current?.type == 'track'"
    class="current-info"
    style="display: table-cell;vertical-align: middle;"
  >
    <app-loader [isLoading]="isLoading"></app-loader>
    <h1 [hidden]="isLoading">{{ current.metadata.track_title | safeHtml }}</h1>
    <p [hidden]="isLoading" *ngIf="current.metadata.artist_name">
      {{ current.metadata.artist_name | safeHtml }}
    </p>
  </div>
  <div
    *ngIf="current?.type == 'livestream'"
    class="current-info"
    style="display: table-cell;vertical-align: middle;"
  >
    <app-loader [isLoading]="isLoading"></app-loader>
    <h1 [hidden]="isLoading">{{ current.name | safeHtml }}</h1>
  </div>
  <div
    *ngIf="current?.type == 'webstream'"
    class="current-info"
    style="display: table-cell;vertical-align: middle;"
  >
    <app-loader [isLoading]="isLoading"></app-loader>
    <h1 [hidden]="isLoading">{{ current.name | safeHtml }}</h1>
  </div>
</div>
