.main-current .current-keyvisual {
  position: relative;
  display: inline-block;
}
.main-current .current-keyvisual img {
  position: relative;
  z-index: 2;
  width: 65px;
  height: auto;
  border-radius: 4px;
}
//.main-current .current-keyvisual:before {
//  content: "";
//  display: block;
//  position: absolute;
//  bottom: 0;
//  right: 0;
//  z-index: 1;
//  width: 95%;
//  height: 80%;
//  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-photo.png);
//  background-size: cover;
//  -webkit-filter: blur(35px);
//  filter: blur(35px);
//}
.main-current .current-info {
  display: inline-block;
  box-sizing: content-box;
  vertical-align: top;
}
.main-current .current-info h1,
.main-current .current-info p {
  margin: auto;
  padding: 0;
}
.main-current .current-info h1 {
  font-size: 20px;
  color: #000;
}
.main-current .current-info p {
  font-size: 12px;
  margin-top: 0px;
  color: #000;
}
button {
  background: transparent;
  width: 43px;
  border: 2px solid;
  margin: 0 15px 0 0;
  outline: none;
}
