<div class="page-wrapper">
  <div class="container-fluid">
    <div>
      <h1>
        <span translate>Index</span>
      </h1>
      <div class="row">
        <app-loader [isLoading]="isLoading"></app-loader>
        <div
          class="col-md-4 col-lg-3 mx-auto my-3"
          [hidden]="isLoading"
          style="margin-top: 10px;"
          *ngFor="let project of projects"
        >
          <div class="single__project__list">
            <div class="single__project__list__img-container">
              <img src="{{ project.img }}" />
            </div>
            <div class="single__project__list__text-container">
              <h3>{{ project.title }}</h3>
              <p>{{ project.caption }}</p>
              <a
                class="btn btn-primary"
                routerLink="/{{ project._id }}"
                translate
                >PROJECTS_DETAILS_BUTTON</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
