<link
  href="https://fonts.googleapis.com/css?family=Cookie"
  rel="stylesheet"
/><a
  class="bmc-button"
  target="_blank"
  href="https://www.buymeacoffee.com/dmnktoe"
  ><img
    src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg"
    alt="Buy me a coffee"
  /><span style="margin-left:5px">Buy me a coffee</span></a
>
<!-- <a href="https://www.patreon.com/bePatron?u=21258306" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script> -->
